/* Seletor universal - atribui os estilos especificados de forma geral */

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

/* #FFEDD5 = cor hexadecimal (red{FF}+green{ED}+blue{D5}): 0 - F - (F = cor mais clara "branco" 0 = cor mais escura "preto" */
body {
  background-image: url(https://pbs.twimg.com/media/FZE9U8vWYAAoVoH.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  }

ul {
  list-style: none;
}

/* FONTS */
h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: #f0e8d9;
  }
  .price {
    color: #f08512;
  }

/* HEADER */

header {
  padding: 32px 0;
  text-align: center;
}

header, section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 20px;
}

header h1 span {
  color: #f08512;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(243, 237, 237, 1);
}

/* SECTIONS*/

section {
  margin-bottom: 20px;
}

section h2 {
  background-color: #9a6b358e;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  color: #f8f6f4;
  }

/* LISTAS */

ul li {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}

li .details {
  max-width: 350px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 19px;
  color: #f08512;
}

.details p {
  color: #f8f6f4;
  font-size: 14px;
  line-height: 18px;
}


